.card-img-container {
  margin-bottom: 10px;
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card-img {
    width: 131px;
    max-width: 100%;
    height: auto;
  }
  .card-img-para {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    text-align: center;
  }
}
.card-text {
  font-size: 14px;
  color: #333;
  width: 46%;
  margin-top: 20px;

  .card-heading,
  .highlight-para,
  .discount,
  .main-para,
  .love-it-data {
    margin-bottom: 10px;
  }

  .highlight-heading {
    font-weight: bold;
  }

  .card-heading {
    color: #4b5665;
    font-size: 16px;
    line-height: 24px;
    .card-heading-span {
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .highlight-heading {
    font-weight: 700;
    color: #2c384a;
    font-size: 16px;
    line-height: 24px;
  }

  .highlight-para {
    color: #4b5665;
    margin: 10px;
  }

  .discount {
    color: #074786;
    background: #f2f4f7;
    display: inline;
    padding: 2px;
  }

  .main-para {
    ul {
      background: #fff4ed;
      border: 2px solid #ecbfa3;
      padding: 12px 12px 0 12px;
      margin-left: 20px;
      border-radius: 12px;
    }
  }
  .main-para,
  .love-it-data {
    ul {
      li {
        color: #4b5665;
        padding-bottom: 12px;
        .main-para-num {
          color: #1b88f4;
          background: white;
          padding: 4px;
          border-radius: 4px;
        }
      }
    }
  }
  .love-it-data {
    color: #2c384a;
    font-weight: 500;
    ul {
      padding: 0px;
      li {
        font-size: 15px;
        line-height: 24px;
        display: flex;
        align-items: center;
      }
    }
  }

  .main-para-num {
    color: #e67e22;
  }
  .Show-more {
    color: #1b88f4;
    &:hover {
      text-decoration: underline;
    }
  }
  .show-more1 {
    display: flex;
    align-items: center;
    .angle-down {
      margin-left: 5px;
    }
  }
}

.card-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 10px;
  width: 23%;
  .rating-box {
    width: 135px;
    height: 118px;
    background: #f3f9ff;
    border-radius: 0 0 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .rating {
      font-size: 32px;
      line-height: 48px;
    }
    .rating,
    .ratingTag {
      color: #074786;
      margin-bottom: 5px;
    }

    .star {
      color: #f39c12;
    }
  }
}
.star-rating {
  .star-filled {
    color: #ffb80f;
  }

  .star-half {
    color: #ffb80f;
  }
  .star-empty {
    color: #ffb80f;
  }
}
@media screen and (width<= 1100px) {
  .card-img-container {
    margin-bottom: 10px;
    width: 100%;
    min-width: 280px;
  }
  .card-text {
    width: 100%;
    min-width: 280px;

    .card-heading {
      font-size: 14px;
      line-height: 22px;
      .card-heading-span {
        white-space: wrap;
      }
    }

    .highlight-heading {
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
    }

    .highlight-para {
      margin: 10px;
    }
  }

  .card-rating {
    width: 100%;
    min-width: 280px;
    .rating-box {
      margin: 20px 0;
      .rating {
        font-size: 26px;
        line-height: 40px;
      }
    }
  }
}
