.DealsCard {
  // border: 1px solid #000000;
  border-radius: 12px;
  padding: 10px 20px;
  background: #fff;
  margin-bottom: 10px;
  width: 28%;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  //   align-items: center;
  //   justify-content: space-evenly;

  .dc-img {
    margin-bottom: 50px;
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .dc-image {
      width: 141px;
      height: 103px;
      border-radius: 5px;
    }
  }

  .dc-offer-box {
    display: flex;
    // justify-content: space-between;

    .dc-discount,
    .dc-period {
      // margin-left: 10px;
      font-size: 14px;
      background: #f2f4f7;
      color: #074786;
      border-radius: 8px;
      padding: 6px;
    }
    .dc-period {
      margin-left: 10px;
    }
  }

  .dc-head-box {
    text-align: center;

    .dc-heading {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
      color: #626e79;
      margin-bottom: 5px;
    }

    .dc-fullname {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      color: #626e79;
      margin-right: 20px;
    }
  }

  .dc-price-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;

    .dc-current-price {
      font-size: 20px;
      line-height: 28px;
      color: #5c6874;
      margin-right: 10px;
    }

    .dc-old-price {
      font-size: 14px;
      line-height: 20px;
      font-weight: normal;
      color: #9fa9b3;
      margin-right: 10px;

      //   text-decoration: line-through;
    }

    .dc-discount-percentage {
      font-size: 13px;
      line-height: 20px;
      color: #ef4c5d;
    }
  }
}
@media screen and (max-width: 970px) {
  .rd-data {
    justify-content: space-around;
  }
}
