.navbar {
  background: #212731;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  max-height: 64px;

  .container1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    // hamburger menu styling starts here

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 10px;
      opacity: 0;
      .line {
        background-color: #fff;
        height: 2px;
        width: 24px;
        margin: 4px 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
      }

      &.cross {
        .line:first-child {
          transform: translateY(10px) rotate(45deg);
        }
        .line:nth-child(2) {
          opacity: 0;
        }
        .line:last-child {
          transform: translateY(-10px) rotate(-45deg);
        }
      }
    }
    .ham-nav-item {
      // display: none;
      background: #212731;
      height: 200px;
      width: 150px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      color: #e1e4e6;
      position: absolute;
      top: 29px;
      right: 0;
      transition: opacity 0s ease-in-out, transform 0s ease-in-out;
      opacity: 0;
      transform: translateY(-20px);
      li {
        flex-direction: column;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    // hamburger menu styling end here
    .search-box {
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 8px;
      padding: 4px;
      height: 25px;
      width: 258px;
      border: 1px solid #e1e4e6;
      svg {
        fill: #626e79;
        height: 24px;
        width: 24px;
      }

      input {
        border: none;

        padding: 6px;
        outline: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        &::placeholder {
          color: #626e79;
        }
      }
    }

    .nav-item {
      list-style: none;
      margin: 0;
      margin-left: 20px;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin-right: 20px;
        cursor: pointer;
        font-weight: 500;
        color: #d1d6da;
        font-size: 14px;
        line-height: 20px;
        &:hover {
          text-decoration: underline;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    @media screen and (max-width: 811px) {
      .hamburger-menu {
        opacity: 1 !important;
      }

      .ham-nav-item.menu-open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        opacity: 1;
        transform: translateY(0);
        .item {
          margin-bottom: 10px;
        }
      }
      .nav-item {
        display: none;
      }
    }
  }
}
