.hero {
  background-color: #fbfcfd;

  .hero-heading {
    font-size: 48px;
    line-height: 60px;
    font-weight: normal;
    color: #333;
    // margin-bottom: 10px;
  }
}
@media screen and (max-width: 811px) {
  .hero {
    .hero-heading {
      font-size: 34px;
      line-height: 48px;
    }
  }
}
