.footer {
  min-height: 452px;
  background: #212731;
  .f-container {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;

    .footer-box {
      text-align: left;
      width: 33%;

      h3 {
        font-size: 16px;
        line-height: 24px;
        margin: 20px 0;
        font-weight: normal;
      }

      p {
        text-align: left;
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0 20px 0;
        color: #b6bdc4;
        white-space: nowrap;
      }
      .footer-us {
        margin-top: 90px;
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
        color: #d1d6da;
        .footer-span {
          margin-right: 10px;
        }
        span {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
@media screen and (width<= 540px) {
  .footer {
    .f-container {
      flex-wrap: wrap;

      padding: 20px;

      .footer-box {
        text-align: left;
        width: 40%;
        h3 {
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 10px;
        }
        .footer-us {
          margin-top: 20px;
          white-space: nowrap;
        }
      }
    }
  }
}
