.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .card-container {
    // border: 1px solid #000000;
    // padding: 0 10px 10px 10px;
    margin: 10px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
