.news-latter {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  background: #fbfcfd;
  width: 100%;
  .nl-heading {
    font-size: 32px;
    line-height: 44px;
    color: #5c6874;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: normal;
    width: 45%;
  }

  .nl-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    input[type="email"] {
      padding: 10px;
      border: none;
      // background: #000000;
      // border-left: 5px solid #1b88f4;
      // border-top: 2px solid #1b88f4;
      // border-bottom: 2px solid #1b88f4;
      outline: none;
      border-radius: 12px 0 0 12px;
      width: 348px;
    }

    button {
      font-size: 14px;
      line-height: 20px;
      padding: 10px 20px;
      width: 97px;
      background-color: #1b88f4;
      color: #fff;
      border: none;
      white-space: nowrap;
      border-radius: 0 12px 12px 0;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 811px) {
  .news-latter {
    flex-direction: column;
    justify-content: flex-start;
    // margin-left: 25px;
    width: 100%;
    .nl-heading {
      font-size: 26px;
      line-height: 34px;
      margin-left: 0px;
      margin-bottom: 20px;
      width: 100%;
    }

    .nl-box {
      justify-content: flex-start;

      width: 100%;
      input[type="email"] {
        width: 250px;
      }

      button {
        width: 77px;
      }
    }
  }
}
@media screen and (max-width: 811px) {
  .news-latter {
    .nl-heading {
      font-size: 22px;
      line-height: 29px;
    }

    .nl-box {
      input[type="email"] {
        width: 220px;
      }

      button {
        width: 70px;
        padding: 10px 8px;
      }
    }
  }
}
